/* CSS declarations go here */


/* CSS declarations go here */

body {

  width: 100%;
  height: 100%;
  font-family: sans-serif;

  background-color: #7e57c2  ;

  /*background-image: linear-gradient(to bottom, #230736, #f9e430 150%);*/

  background-attachment: fixed;

 

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0px;

  right: 0;

 

  padding: 0;

 
  margin-left: 0px;

 

  font-size: 14px;

}

h3 {color: #ccc;}
h2 {color: #039be5;}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.new-task input {
  color:#fff;
  }





.container {

  max-width: 600px;

  margin: 0 auto;
  
  padding-left:20px;
  padding-right:20px;

  min-height: 100%;

  background: #37474f ;

}

 

header {

  background: #888;
  padding: 20px 15px 15px 15px;
  position: relative;

}

.logo { 
   display: block;
    margin: auto;
    width: 15%;
  /*
  display:inline-block;
  text-align:center;
  width:100px;
  height:100px;
  */
}

.listback {
  width: 100%;
  height: 100%;
  

}

#login-buttons {

  display: block;
  float:right;
  

}

#login-name-link {
  color: #fff;
}



 

h1 {

  font-size: 1.5em;

  margin: 0;

  margin-bottom: 10px;

  display: inline-block;

  margin-right: 1em;
  
  color: #fdff55;

}

 

form {

  margin-top: 10px;

  margin-bottom: -10px;

  position: relative;

}

 

.new-task input {

  box-sizing: border-box;

  padding: 10px 0;

  background: transparent;

  border: none;

  width: 100%;

  padding-right: 80px;

  font-size: 1em;

}

 

.new-task input:focus{

  outline: 0;

}

 

ul {

  margin: 0;

  padding: 0;

  background: white;

}

 

.delete {

  float: right;

  font-weight: bold;

  background: none;

  font-size: 1em;

  border: 1px solid;
  border-radius: 5px;

  position: relative;

  color: #ffff00;

  margin-left:10px;
}

.pickup {

  float: right;

  font-weight: bold;

  background: none;

  font-size: 1em;

  border: 1px solid;
  border-radius: 5px;

  position: relative;

  color: #00b0ff;
   margin-left:10px;

}

.complete {

  float: right;

  font-weight: bold;

  background: none;

  font-size: 1em;

  border: 1px solid;
  border-radius: 5px;

  position: relative;

  color: #76ff03;
  margin-left:10px;

}



 

li {

  position: relative;

  list-style: none;

  padding: 15px;

  border-bottom: #000 solid 1px;

  background: #263238;

  color: #fdd835  ;

}

 

li .text {

  margin-left: 10px;

}

 

li.checked {

  color: #888;

}

 

li.checked .text {

  text-decoration: line-through;

}

 

li.private {

  background: #eee;

  border-color: #ddd;

}

 

.hide-completed {

  float: right;

}

 

.toggle-private {

  margin-left: 5px;

}

 

@media (max-width: 600px) {

  li {

    padding: 12px 15px;

  }

 

  .search {

    width: 150px;

    clear: both;

  }

 .new-task {
background-color: #ffffff;

 }

  .new-task input {

    padding-bottom: 5px;
    

  }

}

.footer {

  padding:10px;
  color: #ccc;
}


